<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <!--
        <display-name>NYPS Vaadin Web Application</display-name>
        <context-param>
            <description>Vaadin production mode</description>
            <param-name>productionMode</param-name>
            <param-value>false</param-value>
        </context-param>
        <servlet>
            <servlet-name>Vaadin Application Servlet</servlet-name>
            <servlet-class>se.tillvaxtverket.nyps2020.vaadinpoc.vaadinui.application.VaadinAppServlet</servlet-class>
            <init-param>
                <description>Vaadin application class to start</description>
                <param-name>application</param-name>
                <param-value>se.tillvaxtverket.nyps2020.vaadinpoc.vaadinui.application.VaadinInEarUiApplication</param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>Vaadin Application Servlet</servlet-name>
            <url-pattern>/*</url-pattern>
        </servlet-mapping>
    -->
    <!--
    <security-constraint>
        <display-name>SecureChannelConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Entire site</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description>Require encrypted channel</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>SecureApplicationConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Vaadin application</web-resource-name>
            <description>The entire Vaadin application is protected
            </description>
            <url-pattern>/ui/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only valid users are allowed</description>
            <role-name>SYS_ADMIN</role-name>
            <role-name>CASE_HANDLER</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description/>
        <role-name>SYS_ADMIN</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>CASE_HANDLER</role-name>
    </security-role>
    -->
</web-app>